<h1>全体チャット</h1>

<ul id="posts">
      <% @posts.each do |post| %>
    <li class="post <%= importance_class(post) %>">
      <%= post.id %> : <%= post.content %><br>
    </li>
      <% end %>
</ul>


<label>メッセージ：</label><br>  
<select name="importance" id="importance">
  <option value="1">重要性：緊急</option>
  <option value="2">重要性：高</option>
  <option value="3" selected>重要性：普通</option>
  <option value="4">重要性：業務連絡</option>
</select>  
<input type="text" data-behavior="room_speaker">

<!-- lesson15 ch9,一対多,